$cor-secundaria: #c82b77;
.footer {
  background-color: #f8f9fa;
  color: #343a40;
  padding: 1rem 0;
  border-top: 1px solid #dee2e6;
  width: 100%;
  bottom: 0;

  .footer-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centraliza o conteúdo no footer */
    text-align: center; /* Centraliza o texto */
  }
  
  .footer-logo {
    h2 {
      font-size: 1.5rem;
      color: $cor-secundaria;
      margin-bottom: 1rem;
    }
  }
  
  .footer-sections {
    display: flex;
    gap: 1rem;
    justify-content: center; /* Centraliza os itens */
    margin-bottom: 1rem;
    
    .footer-section {
      ul {
        list-style: none;
        padding: 0;
        margin: 0;
        
        li {
          margin-bottom: 0.5rem;
          
          a {
            text-decoration: none;
            color: #343a40;
            transition: color 0.3s;
            
            &:hover {
              color: #e63946;
            }
          }
        }
      }

      .social-links {
        display: flex;
        gap: 1rem;
        justify-content: center; /* Centraliza os ícones */
        
        li {
          a {
            font-size: 1.9rem;
            color: #000000;
            
            &:hover {
              color: #e63946;
            }
          }
        }
      }
    }
  }
  
  .footer-bottom {
    text-align: center;
    margin-top: 1rem;
    font-size: 0.9rem;
    color: #6c757d;
  }
}
