<mat-toolbar color="primary">
  <!-- Menu Botão -->
  <button *ngIf="(isHandset$ | async)" mat-icon-button (click)="drawer.toggle()">
    <mat-icon>  </mat-icon>
  </button>
  
  <!--Titulo-->
  <span class="title">Receitas Deliciosas</span>
  
  <!-- Links de Navegação -->
  <span class="spacer"></span>
  <a mat-button routerLink="/" routerLinkActive="active-link">Home</a>
  <a mat-button routerLink="/receitas" routerLinkActive="active-link">Receitas</a>
  <a mat-button routerLink="/sobre" routerLinkActive="active-link">Sobre</a>
  <a mat-button routerLink="/contato" routerLinkActive="active-link">Contato</a>
</mat-toolbar>
