<mat-toolbar color="primary">
  <!-- Menu Botão -->
  <button *ngIf="(isHandset$ | async)" mat-icon-button (click)="drawer.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  
  <!-- Título -->
  <span class="title">Receitas Deliciosas</span>
  
  <!-- Links de Navegação -->
  <span class="spacer"></span>
  <a mat-button routerLink="/" routerLinkActive="active-link">Home</a>
  
  <!-- Link de Navegação com Dropdown -->
  <button mat-button [matMenuTriggerFor]="receitasMenu">Receitas</button>
  
  <!-- Menu Dropdown para "Receitas" -->
  <mat-menu #receitasMenu="matMenu">
    <button mat-menu-item routerLink="/receitas/doces" routerLinkActive="active-link">Doces</button>
    <button mat-menu-item routerLink="/receitas/salgados" routerLinkActive="active-link">Salgados</button>
    <button mat-menu-item routerLink="/receitas/vegetarianas" routerLinkActive="active-link">Vegetarianas</button>
    <button mat-menu-item routerLink="/receitas/bebidas" routerLinkActive="active-link">Bebidas</button>
  </mat-menu>
</mat-toolbar>
